.parent {
}

.child {
    width: fit-content;
    box-shadow: 5px 5px 10px grey;
    padding: 4px;
    background-color: white;
    align-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}